<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>

<body>
	 <!-- ====SIDEBAR FOR USER -->
            <div class="app-menu" th:fragment="sidebar_user">
                <div class="container">
                    <ul class="menu-list">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active-page' : ''}" >
                            <a th:href="@{/dashboard}">Dashboard</a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/books' ? 'active-page' : ''}">
                            <a th:href="@{/books}">Books</a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/courses' ? 'active-page' : ''}">
                            <a th:href="@{/courses}">Courses</a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/freebies' ? 'active-page' : ''}">
                            <a th:href="@{/freebies}">Freebies</a>
                        </li>
                         <!-- ====AREA FOR COURSES -->
                         <li  >
                            <a href="#">[[${#strings.capitalize(username)}]]<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                            <ul class="sub-menu">
                               
                                <li>
                                    <a th:href="@{/profile}" class="">Change Password</a>
                                </li>
                                 <li>
                                    <a th:href="@{/logout}">Logout</a>
                                </li>
                               
                            </ul>
                        </li>  
                         <!-- ====AREA FOR COURSES --> 
                    </ul>
                </div>
            </div>
            <!-- ====SIDEBAR FOR USER -->
            
   
             <!-- ====SIDEBAR FOR ADMIN -->
            <div class="app-menu" th:fragment="sidebar_admin">
                <div class="container">
                    <ul class="menu-list ">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active-page' : ''}" >
                            <a th:href="@{/dashboard}">Dashboard</a>
                        </li>
                        <!-- ====AREA FOR COURSES -->
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/courses' ? 'active-page' : ''}" >
                            <a href="#">Courses<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                            <ul class="sub-menu">
                               
                                <li>
                                    <a th:href="@{/admin/course/manageCourse}" class="">Manage Courses</a>
                                </li>
                                 <li>
                                    <a th:href="@{/admin/course/addCourse}">Add Course</a>
                                </li>
                               
                            </ul>
                        </li>  
                         <!-- ====AREA FOR COURSES --> 
                         <!-- ====AREA FOR BOOKS -->
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/books' ? 'active-page' : ''}" >
                            <a href="#">Books<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                            <ul class="sub-menu">
                               
                                <li>
                                    <a href="file-manager.html" class="active">View Books</a>
                                </li>
                                 <li>
                                    <a th:href="@{/admin/book/addBook}" >Add Books</a>
                                </li>
                               
                            </ul>
                        </li>  
                         <!-- ====AREA FOR BOOKS -->   
                         <!-- ====AREA FOR FREEBIES -->
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/freebies' ? 'active-page' : ''}" >
                            <a href="#">Freebies<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                            <ul class="sub-menu">
                               
                                <li> 
                                    <a href="file-manager.html" class="active">View Freebies</a>
                                </li>
                                 <li>
                                    <a th:href="@{/admin/freebies/addFreebies}">Add Freebies</a>
                                </li>
                               
                            </ul>
                        </li>  
                         <!-- ====AREA FOR FREEBIES --> 
                         <!-- ====AREA FOR CATEGORY -->
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/category' ? 'active-page' : ''}" >
                            <a href="#">Category<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                            <ul class="sub-menu">
                               
                                <li>
                                    <a th:href="@{/admin/category/course/add}" class="active">Course Category</a>
                                </li>
                                 <li>
                                    <a th:href="@{/admin/category/book/addBookCategory}" >Books Category</a>
                                </li>
                            </ul>
                        </li>  
                         <!-- ====AREA FOR CATEGORY -->                            
                         <!-- ====AREA FOR CUSTOMER -->
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/category' ? 'active-page' : ''}" >
                            <a href="#">Customer<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                            <ul class="sub-menu">
                               
                                <li>
                                    <a th:href="@{/admin/user/allUsers}" class="active">Manage Customers</a>
                                </li>
                                 <li>
                                    <a th:href="@{/admin/user/addUser}" >Add Customer</a>
                                </li>
                            </ul>
                        </li>  
                         <!-- ====AREA FOR CUSTOMER -->   
                          <!-- ====AREA FOR COURSES -->
                          <li  >
                            <a href="#">[[${#strings.capitalize(username)}]]<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                            <ul class="sub-menu">
                               
                                <li>
                                    <a th:href="@{/profile}" class="">Change Password</a>
                                </li>
                                 <li>
                                    <a th:href="@{/logout}">Logout</a>
                                </li>
                               
                            </ul>
                        </li>  
                         <!-- ====AREA FOR COURSES -->                          
                    </ul>
                </div>
            </div>
            <!-- ====SIDEBAR FOR ADMIN -->
</body>
</html>